.round-image{
    border-radius: 35%;
    width:250px;
}


body{
    margin:0px;
    background-color: black;
    color:#32fc05;
    font-family: "VT323"; 
    font-size: 30px;
}

*{
    padding: 25px;
}

a{
    text-decoration: none;
    color: white;
}